*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: PeaceSans;
}
@font-face {
  font-family: 'PeaceSans';
  src: url('fonts/PeaceSans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.textoi{
    padding: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(133, 56, 8);
}

nav h1 {
  margin: 0;
  font-size: 20px;
  color: rgb(239, 239, 136);
  padding: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

nav ul li a{
  display: flex;
  padding: 5px;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  margin-right: 10px;
}
nav ul li a:hover{
    color: rgb(239, 239, 136);
    cursor: pointer;
}
.h2sinopse{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 20px;
    color: yellow;
}
body{
    background-image: url(photos/backgroundandy2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    background-color: white;
    display: flex;
    color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);
    width: 700px;
    height: auto;
    margin-left: 420px;
}
.trailers h2{
    font-size: 30px;
    margin-bottom: 15px;
    color: yellow;
}
.trailer1,
.trailer2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trailers{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
}
.box{
    width: 280px;
    height: 260px;
    border: 1px solid #000;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}
#elenco h2{
    color: yellow;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.boxes{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
footer{
    background-color: rgb(133, 56, 8);
    padding: 10px;
    display: flex;
    justify-content: center;
    color: rgb(239, 239, 136);
}
.box img{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
}
#um h2,
#dois h2,
#tres h2{
    color: rgb(239, 239, 136);
    font-size: 19px;
}
#um p,
#dois p,
#tres p{
    padding: 10px;
}
#curiosidades h2{
    color: yellow;
    margin-left: 110px;
    font-size: 30px;
}
.box2{
    background-color: white;
    width: 800px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);
    margin-left: 110px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.lilbox{
    background-color: white;
    margin-left: 25px;
    width: 750px;
    height: 90px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(211, 210, 210);
    transition: transform 0.3s ease;
}
.lilbox:hover{
    cursor: pointer;
    box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}
.direita{
    display: flex;
}
.direita img{
    margin-left: 150px;
}
#contato h2{
    font-size: 30px;
    color: yellow;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-right: 460px;
}
.box3{
    background-color: white;
    width: 600px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 34px;
}
input,
textarea{
    width: 563px;
    height: 40px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
}
.botao{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.botao button{
    background-color: yellow;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    transition: transform 0.3s ease;
}
button:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
}
#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#galeria h2{
    color: yellow;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.poster{
    display: flex;
    justify-content: space-around;
}